.right_wrapper {
    height: 800px;
    width: 735px;
  
    border-radius: 15px;
    background: #000842;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  .right_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
  }
  
  .left_card {
    height: 700px;
    width: 488px;
  
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.25);
    margin: 12px 90px 0px 0px;
    padding-left: 25px;
  }
  
  .signin_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left_card_title {
    width: 115px;
    height: 45px;
  
    font-weight: 500;
    font-size: 30px;
    color: #000000;
  }
  
  .left_card_grey {
      
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    margin-top: 30px;
    color: #999999;
  }
  
  .form_group >label{
  display: block;
  margin-top: 49px;
  }
  
  .card_input_group > input{
      border:none;
      border-bottom: 2px solid #000842;
      padding:7px 27px;
      outline:none;
      width: 400px;
  }
  .card_input_icon{
      position: absolute;
  }
  
  .remember_me_forget{
      display: flex;
      justify-content: space-between;
  }
  
  .remember{
      width: 90px;
      height: 18px;
      padding:7px 0px;
      font-size: 12px;
      line-height: 18px;
      color: #000000;
  }
  
  .forgot{
      width: 90px;
      height: 18px;
      padding:7px 27px;
      font-size: 11px;
      line-height: 18px;
      color: #4D4D4D;
  }
  
  .login_btn{
      width: 429px;
      height: 53px;
      background: #000842;
      box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
      border-radius: 32px;
  
      font-family: Poppins;
      font-size: 17px;
      line-height: 25px;
      color: #FFFFFF;
      
      position: relative;
      top: 75px;
  }

  .register_btn{
        width: 429px;
        height: 53px;
        background: #000842;
        box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
        border-radius: 32px;
    
        font-family: Poppins;
        font-size: 17px;
        line-height: 25px;
        color: #FFFFFF;
        
        position: relative;
        top: 45px;

  }
  
  .alt_login{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #B5B5B5;
  
      margin: auto;
      width: 30%;  
  
      position: relative;
      top: 95px;
  }
  
  .google_icon{
      position: relative;
      top: 120px;
      left: 190px;
  }

  .blueColor{
      color: blue;
  }

  .blueColor:hover{
      text-decoration: underline;
      color: orange;
  }