.container{
    background-color: rgba(0, 0, 0, 0.112);
    position: absolute;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.modalconfirm .modalbody {
	color: #999;
}
btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}

.btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modalconfirm .btn-secondary {
	background: #c1c1c1;
}
.modalconfirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modalcontent {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modalfooter {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.wrapper{
    width:400px;
    height: 250px;
    padding:24px;
    background-color: #fff;
    border-radius: 35px;
    
}
.icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}

