.container{
    background-color: rgba(0, 0, 0, 0.112);
    position: absolute;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.wrapper{
    width:600px;
    height: 400px;
    padding:24px;
    background-color: #fff;
    border-radius: 35px;
    
}
.icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}

