.topbar{
    width: 100%;
    height: 50px;
    background-color: white; 
    /* background-color: #000842; */
    position: sticky;
    top: 0;
    z-index: 999;
}
.topRight{
    display: flex;
align-items: center;
}
.topLeft{
    padding-left: 10px;
    padding: 7px 12px 28px ;
    margin-left: -30px;
    margin-top: 20px;
    text-align: center;
    background-color: #080331;

    /* background-color: #000842; */
    /* background-color: #fff; */
}

.topbarWraper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
   
    font-weight: bold;
    font-size: 28px;
    color:#fff  
    /* color: #000842; */
}
.topbarIconsContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
    /* color: #fff; */

}
.topIconBag{
    position: absolute;
    top: -8px;
    right: 2px;
    background-color: red;
    color: white;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;


}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}