.userList {
    flex: 3.87;
    padding: 20px;
    margin-bottom: 30px;

  }
  .userTitleContainer{
    padding-bottom: 10px;
  }
  .userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .userListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  }
  
  .userListDelete{
      color: red;
      cursor: pointer;
  }
  .delButtonUser{
    /* display: none; */
    border: none;
    background-color: white;
  }
